In [16]:
import pandas as pd
from pathlib import Path
import googlemaps
from datetime import datetime
import pytz 
from geopy.distance import geodesic

In [17]:
df = pd.read_csv("Resources/uber.csv")
df.head(10)

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
5,44470845,2011-02-12 02:27:09.0000006,4.9,2011-02-12 02:27:09 UTC,-73.969019,40.755910,-73.969019,40.755910,1
6,48725865,2014-10-12 07:04:00.0000002,24.5,2014-10-12 07:04:00 UTC,-73.961447,40.693965,-73.871195,40.774297,5
7,44195482,2012-12-11 13:52:00.00000029,2.5,2012-12-11 13:52:00 UTC,0.000000,0.000000,0.000000,0.000000,1
8,15822268,2012-02-17 09:32:00.00000043,9.7,2012-02-17 09:32:00 UTC,-73.975187,40.745767,-74.002720,40.743537,1
9,50611056,2012-03-29 19:06:00.000000273,12.5,2012-03-29 19:06:00 UTC,-74.001065,40.741787,-73.963040,40.775012,1

In [18]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

In [19]:
df_filtered = df[(df['fare_amount'] >= 0) & (df['pickup_longitude'] != 0) & (df['pickup_latitude'] != 0) & (df['dropoff_longitude'] != 0) & (df['dropoff_latitude'] != 0)& (df['passenger_count'] != 0)]

In [20]:
df_filtered.head(11)

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
5,44470845,2011-02-12 02:27:09.0000006,4.9,2011-02-12 02:27:09 UTC,-73.969019,40.755910,-73.969019,40.755910,1
6,48725865,2014-10-12 07:04:00.0000002,24.5,2014-10-12 07:04:00 UTC,-73.961447,40.693965,-73.871195,40.774297,5
8,15822268,2012-02-17 09:32:00.00000043,9.7,2012-02-17 09:32:00 UTC,-73.975187,40.745767,-74.002720,40.743537,1
9,50611056,2012-03-29 19:06:00.000000273,12.5,2012-03-29 19:06:00 UTC,-74.001065,40.741787,-73.963040,40.775012,1
10,2205147,2015-05-22 17:32:27.0000004,6.5,2015-05-22 17:32:27 UTC,-73.974388,40.746952,-73.988586,40.729805,1
12,31892535,2011-05-17 14:03:00.000000158,3.3,2011-05-17 14:03:00 UTC,-73.966378,40.804440,-73.965890,40.807133,5

In [21]:
df_sorted = df_filtered.sort_values(by='passenger_count')
df_sorted.head(11)

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
121104,40646027,2014-10-23 09:05:47.0000001,11.5,2014-10-23 09:05:47 UTC,-73.965937,40.770992,-73.977657,40.762827,1
121105,24836686,2013-02-28 13:32:27.0000001,9.5,2013-02-28 13:32:27 UTC,-74.007496,40.725907,-73.987605,40.738403,1
121106,15557753,2012-07-31 14:32:50.0000004,4.5,2012-07-31 14:32:50 UTC,-73.974277,40.750318,-73.970525,40.756100,1
121107,46579328,2012-10-22 21:52:00.0000007,5.0,2012-10-22 21:52:00 UTC,-73.982117,40.773972,-73.984437,40.761082,1
121109,13360156,2013-01-21 18:11:32.0000001,9.0,2013-01-21 18:11:32 UTC,-73.961419,40.801307,-73.954290,40.778945,1
121110,10066973,2010-02-08 06:12:22.0000001,4.9,2010-02-08 06:12:22 UTC,-73.946280,40.775560,-73.959348,40.780975,1
121112,1210771,2010-04-04 19:04:20.0000003,4.5,2010-04-04 19:04:20 UTC,-73.982062,40.731849,-73.973462,40.743993,1
121113,31081722,2009-02-19 16:56:00.00000058,13.7,2009-02-19 16:56:00 UTC,-73.973872,40.794500,-73.992633,40.745452,1
121114,13182874,2011-01-30 00:51:45.0000001,8.5,2011-01-30 00:51:45 UTC,-73.985182,40.742198,-74.005220,40.741232,1
121115,43349731,2010-06-24 13:51:00.00000024,19.3,2010-06-24 13:51:00 UTC,-73.958372,40.775575,-73.997702,40.729322,1

In [22]:
gmaps = googlemaps.Client(key='AIzaSyAzXHrKF6uJ6LeOMtJTnUFllSf9hT-Pz1I')

In [23]:
def calculate_distance(row):
    pickup = (row['pickup_latitude'], row['pickup_longitude'])
    dropoff = (row['dropoff_latitude'], row['dropoff_longitude'])
    distance = geodesic(pickup, dropoff).miles  # You can use .kilometers for distance in kilometers
    return distance

df_sorted['road_distance'] = df_sorted.apply(calculate_distance, axis=1)

# Drop the original 'key', 'pickup_datetime', and 'Unnamed: 0' columns
df_sorted = df_sorted.drop(columns=['key', 'pickup_datetime', 'Unnamed: 0'])

# Save the modified DataFrame to a new Excel file
df_sorted.to_excel('uber_rides_distance_calculated_geopy.xlsx', index=False)

C:\Users\adamf\anaconda4\Lib\site-packages\geopy\point.py:472: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  return cls(*args)

ValueError: Latitude must be in the [-90; 90] range.

In [15]:
df_sorted['road_distance'] = df_sorted.apply(calculate_distance, axis=1)
df_sorted.head(11)

ApiError: REQUEST_DENIED (You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started)

In [ ]:
df_sorted['key'] = pd.to_datetime(df['key'])
df_sorted['date'] = df_sorted['key'].dt.date
df_sorted['time'] = df_sorted['key'].dt.time

In [ ]:
df_sorted

In [ ]:
df_final = df_sorted.drop(columns=['key'])

In [ ]:
df_final.head(11)

In [ ]:
df_final.to_csv('uber_rides_cleaned1.2.csv', index=False)